<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href = "@{/css/globals.css}" rel="stylesheet">
    <title>True Answer Modal</title>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    width: {
                        '9/20': '45%',
                        '11/20': '55%',
                    },
                    colors: {
                        'yellow': '#FFD66B',
                        'purple' : '#8357EE',
                    },
                }
            }
        }
    </script>
</head>
<body>
<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">

    <div class="flex items-end justify-center min-h-screen pt-10 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <div class="relative inline-block align-bottom rounded-lg text-left overflow-hidden transform transition-all sm:my-8 sm:align-middle sm:max-w-md sm:w-full">
            <div class="justify-center flex pt-6" style="background: #FFD66B;display: flex;justify-content: center">
                <img class="h-9 w-9 justify-center flex" src="" th:src="@{/img/confirm-icon.png}" alt="confirm-icon" width="500"/>
            </div>

            <div class= "px-4 pt-5 pb-4 sm:p-6 sm:pb-4" style="background: #FFD66B;display: flex;justify-content: center">

                <div class="sm:flex sm:items-start">
                    <div class="mt-3 text-center sm:mt-0 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-purple " id="modal-title" style="text-align: center">Confirmation</h3>
                        <div class="mt-2" style="display: flex;justify-content: center">
                            <p class="text-sm text-black">Are you sure want to stop the game?</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-center" style="background: #FFD66B;">
                <a th:href="@{../..}">
                    <button type="button" class="w-full inline-flex justify-center focus:outline-none sm:ml-3 sm:w-auto sm:text-sm">
                        <img class="scale-75" src="" th:src="@{/img/yes-btn.png}" alt="continue-btn"/>
                    </button>
                </a>
            </div>
            <div class="flex justify-center pb-6" style="background: #FFD66B;">
                <!--ini keincrement ga ya ?-->
                <a th:href="@{wordsblank/next}">
                    <button type="button" class="w-full inline-flex justify-center focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        <img class="scale-75" src="" th:src="@{/img/no-btn.png}" alt="quit-btn"/>
                    </button>
                </a>
            </div>

        </div>
    </div>
</div>
</body>
</html>