<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href = "@{/css/globals.css}" rel="stylesheet">
    <title>Lyricspatch</title>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    width: {
                        '9/20': '45%',
                        '11/20': '55%',
                    },
                    colors: {
                        'yellow': '#F1CA2F',
                        'purple' : '#8357EE',
                        'red':'#DD1F1F',
                        'green' : '#56EE48',
                    },
                }
            }
        }
    </script>
</head>

<body class="max-h-screen cursor-default" style="background-color:#9E7BEF;">
<div class="flex">
    <div class="bg-center bg-cover" style="position: relative">
        <img class="max-h-screen bg-cover" src="" th:src="@{/img/bg-games2.png}" alt="bg-games" width="1650"/>

        <div class="static">
            <!-- Header State Question -->
            <div class="static" style="display: flex;justify-content: center;">
                <img style="position: absolute;top:20px" src="" th:src="@{/img/lyricspatch.png}" alt="title-lyricspatch" width="500"/>
                <!-- TODO : write which question state here -->
                <div class="text-yellow text-xl z-10" style="position:absolute;top:125px;font-size:18px">
                    Question <span th:text="${numOfQuest}"></span> <span> / 20</span>
                </div>
            </div>

            <div class="flex justify-center gap-10">
                <!--box kiri-->
                <div class="absolute rounded-lg bg-white w-[570px] h-[500px] top-[185px] left-[270px] shadow-lg" >
                    <!-- header box kiri-->
                    <div class="bg-yellow rounded-t-lg h-12" >

                        <!-- Level TYPE -->
                        <div class="flex justify-between h-12 px-4">
                            <!-- TODO : write level here -->
                            <div class="mt-4 text-purple text-xl">
                                Level <span class="text-red text-xl" th:text="${level}"></span>
                            </div>

                            <!-- Hint Button -->
                            <!-- TODO : Implementing Hint Button here -->
                            <button type="submit">
                                <img class="scale-75" src="" th:src="@{/img/hint-btn.png}" alt="hint-btn"/>
                            </button>
                        </div>
                    </div>

                    <!-- lyrics snippet-->
                    <div style="padding-top:25px">

                        <div class="text-xl flex-none w-120 h-14 strong"
                             style="display:flex;justify-content:center;
                             font-family:'Lucida Sans';font-size:25px;">Lyrics Snippet</div>

                        <!-- TODO : Implementing lyrics here -->
                        <div th:each="lines: ${txt}" class="flex-none w-120 h-5 px-30 text-center">
                            <span th:text="${lines}" style="font-family:'Lucida Sans';font-size:15px;"></span>
                        </div>
                    </div>
                </div>

                <!-- box kanan -->
                <div class="absolute rounded-lg shadow-md bg-white w-[355px] h-[500px] top-[185px] right-[292px]">
                    <!-- header box kanan (points & HP) -->
                    <div class="bg-yellow rounded-t-lg h-12">

                        <!-- TODO : implementing points here -->
                        <div class="flex justify-between h-12 px-4 pt-4">
                            <div class="text-purple text-lg">
                                Points : <span class="text-red text-lg" th:text="${score}"></span>
                            </div>

                            <!-- TODO : implementing HP here -->
                            <div class="flex justify-between h-14 text-purple text-xl">
                                <div class="text-purple text-lg">
                                    HP : <span class="text-red text-lg" th:text="${hp+'%'}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Field jawaban -->
                    <!-- TODO : Not yet creating any form here-->
                    <form th:action="@{/lyricspatch/check}" method="post">
                        <div th:each="num : ${#numbers.sequence(1,numberOfAns)}" style="padding-top:17px">
                            <div style="display: flex;justify-content: left;font-size:13px;padding-left:70px">
                                Answer (<span th:text="${num}"></span><span>)</span>
                            </div>
                            <div style="display: flex;justify-content: center;">
                                <input type="text" name="ans" placeholder="Write down your answer.. " required
                                       class="bg-yellow rounded-full focus:outline-none focus:ring focus:border-purple text-md py-2 pt-3 px-4"
                                       style="font-size:12px" size="25"/>
                            </div>
                        </div>

                        <!--button cancel and submit -->
                        <!-- TODO : Implementing submit and cancel here -->
                        <div class="flex">
                            <div class="flex-none w-12 h-14" style="padding-left:25px;padding-top:18px">
                                <!-- Still Not Working: Must Seperate It From <form>-->
                                <a th:href="@{/{game}/confirm(game=${gameType})}">
                                <button class="absolute" style="display: inline;float: left">
                                        <img class="scale-75" src="" th:src="@{/img/stop-btn.png}" alt="stop-btn"/>
                                    </button>
                                </a>
                            </div>
                            <div class="grow h-14">
                            </div>
                            <div class="flex-none w-14 h-14" style="padding-top:18px">
                                <button type="submit" class="absolute right-8" style="display: inline;float: left">
                                    <img class="scale-75" src="" th:src="@{/img/submit-btn.png}" alt="submit-btn"/>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>